In [1]:
import pandas as pd
import numpy as np

In [2]:
startup = pd.read_csv('startup_cleaned.csv')

In [7]:
startup.head(1)

,date,name,vertical,subvertical,city,investors,type,amount
0,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1656.8

In [11]:
# Startup Sector

startup_sector = startup[startup['name'] == 'Mamaearth']['vertical'].values[0]
startup_sector

'E-commerce'

In [13]:
# Startup Subsector

startup_subsector = startup[startup['name'] == 'Mamaearth']['subvertical'].values[0]
startup_subsector

'Retailer of baby and toddler products'

In [14]:
# Startup location

startup_subsector = startup[startup['name'] == 'Mamaearth']['city'].values[0]
startup_subsector

'Bengaluru'

In [15]:
# Funding stage

funding_stage = startup[startup['name'] == 'Mamaearth']['type'].values[0]
funding_stage

'Series B'

In [17]:
# Investors

investors = startup[startup['name'] == 'Mamaearth']['investors'].values[0]
investors

'Sequoia Capital India'

In [18]:
# Date of investment

investment_date = startup[startup['name'] == 'Mamaearth']['date'].values[0]
investment_date

'2020-09-01'

In [31]:
startup.head(1)

,date,name,vertical,subvertical,city,investors,type,amount
0,2020-09-01,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1656.8

In [26]:
# Similar Companies

company_name = "Mamaearth"
vertical = startup.loc[startup['name'] == company_name, 'vertical'].values[0]

temp_companies = startup.loc[startup['vertical'] == vertical, 'name'].unique()

similar_companies = []
for company in temp_companies:
    if company != company_name:
        similar_companies.append(company)
        
similar_companies

['StyleDotMe',
 'GlowRoad',
 'Medlife',
 'Kabadiwala',
 'Craftsvilla',
 'My Healthcare',
 'WOTU',
 'DAAKI',
 'Appario Retail Pvt Ltd.',
 'Milkbasket']